.search_container{
    border-style:solid;
    border-color: darkslategray;
    border: 2px;
}
.weather_container{
    /* margin-top: 10%; */
    border: 2px;
    border-style: solid;
    border-color: white;
    background-color: darkgray;
}
#weatherForm{
    display: inline;
}