<div class="pt3">
    <h1>API Reference</h1>
    <form action="/openweathermapAPI" id="apiForm1"method="GET">
        <button class="apiButton"type="submit">
            (OpenWeatherMap)
        </button>
    </form>
    <form action="/weatherBit" id="apiForm2"method="GET">
        <button class="apiButton"type="submit">
            (weatherBit)
        </button>
    </form>
    <form action="/weatherStack" id="apiForm3"method="GET">
        <button class="apiButton"type="submit">
            (weatherStack)
        </button>
    </form>
    <form action="/weatherAPI" id="apiForm4"method="GET">
        <button class="apiButton"type="submit">
            (weatherAPI)
        </button>
    </form>
</div>
